<nav class="nav-bar-container">
  <img
    [ngSrc]="
      themeState() === 'dark'
        ? 'assets/icons/car-space-logo-dark.svg'
        : 'assets/icons/car-space-logo.svg'
    "
    alt="CarSpace Logo"
    width="200"
    height="200"
    priority
  />
  <span class="font-bold text-xl">CAR PARKS</span>
  <!-- Search bar placeholder -->
  <span></span>
  <div class="right-section">
    <div class="authentication-buttons">
      <button class="login-btn">
        <span>LOG IN</span>
      </button>
      <span class="separator"></span>
      <button class="signup-btn">
        <span>SIGN UP</span>
      </button>
    </div>
    <theme-toggle />
  </div>
</nav>
