.nav-bar-container {
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr 3fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 2rem 4rem;
}

span {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
  text-align: center;
}

.right-section {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-self: end;

  .authentication-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 0.5rem;

    .separator {
      width: 2px;
      height: 20px;
      background-color: var(--mat-sys-on-surface);
    }

    button {
      span {
        font-family: "Satoshi", sans-serif;
        font-weight: 900;
        padding: 0.3rem 1rem;
        position: relative;
        color: var(--mat-sys-on-surface);
        padding-bottom: 5px;
      }

      span:after {
        content: "";
        position: absolute;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        background-color: var(--mat-sys-on-surface);
        transform-origin: bottom right;
        transition: transform 0.3s ease-in-out;
      }

      &:hover span:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}
