@use "sass:map";
@use "@angular/material" as mat;

// $ syntax in SCSS denotes a variable.
$_palettes: (
  primary: (
    0: #000000,
    10: #001f2a,
    20: #003547,
    25: #004156,
    30: #054d65,
    35: #1b5971,
    40: #325274,
    50: #467e97,
    60: #6198b2,
    70: #7cb2ce,
    80: #97ceea,
    90: #bfe8ff,
    95: #e1f4ff,
    98: #f4faff,
    99: #fafcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #042018,
    20: #1a352c,
    25: #254137,
    30: #314c42,
    35: #3c584d,
    40: #486459,
    50: #617d72,
    60: #7a978b,
    70: #94b2a5,
    80: #afcdc0,
    90: #cae9db,
    95: #d8f8ea,
    98: #e7fff3,
    99: #f3fff8,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001f25,
    20: #00363f,
    25: #0b414b,
    30: #1c4d57,
    35: #295963,
    40: #36656f,
    50: #507e88,
    60: #6a98a3,
    70: #84b3be,
    80: #9fced9,
    90: #baebf6,
    95: #d5f7ff,
    98: #effcff,
    99: #f7fdff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b1b,
    20: #31302f,
    25: #3d3b3a,
    30: #484646,
    35: #545251,
    40: #605e5d,
    50: #797676,
    60: #93908f,
    70: #aeaaa9,
    80: #c9c6c4,
    90: #e6e1e0,
    95: #f4f0ee,
    98: #fdf8f7,
    99: #fffbff,
    100: #ffffff,
    4: #0f0e0e,
    6: #141313,
    12: #201f1f,
    17: #2b2a29,
    22: #363434,
    24: #3a3938,
    87: #ddd9d8,
    92: #ece7e6,
    94: #f1edeb,
    96: #f7f3f1,
  ),
  neutral-variant: (
    0: #000000,
    10: #1c1b1b,
    20: #31302f,
    25: #3d3b3a,
    30: #484646,
    35: #545251,
    40: #605e5d,
    50: #797676,
    60: #93908f,
    70: #aeaaa9,
    80: #c9c6c4,
    90: #e6e1e0,
    95: #f4f0ee,
    98: #fdf8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410003,
    20: #680008,
    25: #7d000c,
    30: #930010,
    35: #a80616,
    40: #ba1a20,
    50: #dd3735,
    60: #ff544e,
    70: #ff8980,
    80: #ffb3ac,
    90: #ffdad6,
    95: #ffedeb,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
